.speech {
    font-family: Arial;  
    color: green;
    font-size: 15px;
    }

    .stage-direction {
        font-family: Arial;  
        background-color: greenyellow;
        font-size: 15px;
        }
        
        .stage-direction:hover {
            font-family: Arial;  
            color:greenyellow;
            background-color: coral;
            font-size: 15px;
            }
            .name {
                font-family: Arial;  
                color: black;
                font-size: 15px;
                }
                .name:hover {
                    text-shadow: -1px 0 black, 0 1px pink, 1px 0 blue, 0 -1px red;
                    color:green;
                    border-style: groove;
                    }
                    
                .celia {
                    color:blueviolet;
                }
                .rosalind{
                    color:red
                }
                table, th, td {
                    padding-right: 10px;
                    padding-left: 10px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    margin-top: 50px;
                    margin-bottom: 50px;
                    margin-right: 50px;
                    margin-left: 150px;
                    color:blue;
                    border: 2px solid black;
                    text-align: center;
                }
                table {
                    width: 50%;
                    border-collapse: collapse;
                  }
                tr:nth-child(even) {background-color: yellow;}